p {
    font-size: 2.4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font: 25px sans-serif bold;
}

body {
    background-color: bisque;
    /* background-color: rgb(192, 192, 108); */
    /* background-color: rgba(192, 192, 108, .5); */
    /* background-color: hsl(23, 81%, 65%); */
    /* ss */
    background-image: url('../images/3.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
}

#box {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    /* border-bottom: dotted 5px red;
    border-left: dashed 5px yellow; */
    border-radius: 20px;
    margin: 5px;
    margin-left: 50px;
    margin-top: 100px;
    padding-left: 50px;
}